{% load static %}

<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url 'main' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
                <img class="rounded" height="40px" src="{% static 'images/logo.png' %}"/>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'main' %}" class="nav-link px-2 hop-link">Главная</a></li>
<!--                <li><a href="{% url 'orders_list' %}" class="nav-link px-2 hop-link">Заказы</a></li>-->
                {% if not user.is_superuser and user.is_authenticated %}
                    <li>
                        <a href="{% url 'cart' %}" class="nav-link px-2 hop-link">
                            Корзина
                            {% if cart.num_of_items != 0 %}
                                <span class="badge hop-contrast-background-color rounded-pill" id="num_of_items">
                                    {{ cart.num_of_items }}
                                </span>
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'orders_list' %}" class="nav-link px-2 hop-link">
                            Заказы
                            {% if orders|length != 0 %}
                                <span class="badge hop-contrast-background-color rounded-pill">
                                    {{ orders|length }}
                                </span>
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
                <li><a href="{% url 'about_us' %}" class="nav-link px-2 hop-link">О нас</a></li>
            </ul>

            <div class="text-end">
                {% if user.is_authenticated %}
                    User: {{ user }}
                    <a class="btn btn-hop" href="/users/logout">Выйти</a>
                {% else %}
                    <a class="btn btn-hop" href="/users/auth">Авторизация</a>
                    <a class="btn btn-hop" href="/users/register">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>